@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Ubuntu:wght@300&display=swap");
html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
button,
input {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1c242c;
  font-family: "Ubuntu", sans-serif;
}
main {
  flex-grow: 1;
}
/* **********************************************************************/
/* header */
.header {
  background-color: #181f23;
  color: #ddd;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 1rem;
  height: 4.5rem;
  z-index: 90;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}
.header-label,
.header-input {
  display: none;
}

/* haciendo botones,home,about,films para desktop */
.header-nav_films {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

.header-nav_item {
  text-decoration: none;
  color: #bbb;
  position: relative;
  font-size: 0.9rem;
  font-weight: bold;
  border: 1px solid #8a99aa;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
/* animacion de rayita debajo de los botones de about, film, home */
.header-nav_item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 0.5s;
}
.header-nav_item:hover::before {
  transform: scale(1);
}
.header-nav_item:hover {
  color: #fff;
}

/* ********************************************************************************** */
/* footer */
.footer {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: #2c3444;
  color: #8a99aa;
  padding: 0 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-title {
  padding: 20px 10px;
  text-align: center;
}

.footer .social {
  display: flex;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
}

.footer .social a {
  opacity: 0.75;
  margin: 0 0.5rem;
  width: 2rem;
}

.footer .social a:hover {
  opacity: 1;
}

.footer .copyright {
  align-self: center;
  margin-top: 15px;
  font-size: 13px;
  color: #697484;
  text-align: center;
}
/* ************************************************************* */
/* animation */
.animation {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animation-container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0.5rem;
}
.animation-abstract {
  width: 70%;
}
.animation-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #697484;
  margin: 0.5rem;
  padding-bottom: 0.1rem;
}

.animation-title h1 {
  color: #ddd;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
  padding: 0.3rem;
}
.animation-title p {
  background-color: #28354f;
  color: #bbb;
  font-weight: bold;
  border-radius: 0.3rem;
  padding: 0.4rem;
  margin: 0;
  text-align: center;
}

.animation-info {
  margin: 0.5rem;
  color: #8a99aa;
  font-size: 0.9rem;
}
.animation-info p {
  display: inline-block;
}
.animation-director p:first-child,
.animation-productor p:first-child,
.animation-description p:first-child {
  font-weight: bold;
  color: #4c5f82;
  font-size: 0.8rem;
}
.animation-director p:last-child,
.animation-productor p:last-child {
  padding-left: 0.2rem;
}
.animation-description p:first-child {
  margin-bottom: 0;
  display: block;
}

.animation-image {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.animation-image img {
  outline: 1px solid #697484;
  outline-offset: 3px;
  max-width: 200px;
}

/* ******************************************************************************* */
/* buttons */
.buttons {
  margin-top: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1200px;
  margin: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #697484;
}
.buttons button {
  width: 30%;
  margin: 0.5rem;
  padding: 0.4rem;
  border: 1px solid #697484;
  border-radius: 5px;
  background-color: #28354f;
  color: #999;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}
.buttons button:hover {
  background-color: #0d1a21;
}

/* ******************************************************************************* */

/* mediaquerys */
@media screen and (max-width: 600px) {
  /* *************************************************************************/
  /* header */
  .header-container {
    flex-direction: row-reverse;
  }

  /* haciendo animacion del boton menu que aparecera en celulares*/
  .header-label__icon {
    display: block;
    width: 80%;
    height: 3px;
    background-color: #697484;
    transition: transform 0.5s;
  }

  .header-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.6rem 0.3rem;
    border-radius: 50%;
  }
  .header-nav_films {
    width: 50%;
    position: fixed;
    top: 4.5rem;
    background-color: #2c3444;
    left: -50%;
    display: flex;
    row-gap: 0;
    flex-direction: column;
    transition: left 1s, opacity 1s;
    opacity: 0;
  }

  .header-nav_item {
    border: none;
    width: 100%;
    text-align: center;
    padding: 5vh;
    border-bottom: 1px solid #697484;
  }
  .header-nav_item:nth-child(3) {
    border: none;
  }
  .header-nav_item:hover {
    background-color: #697484;
  }
  .header-input:checked ~ .header-nav_films {
    left: 0;
    opacity: 1;
  }
  .header-input:checked + .header-label {
    border: 1px solid #697484;
  }
  .header-input:checked + .header-label .header-label__icon:first-child {
    transform: translateY(0.5rem) rotate(45deg);
  }
  .header-input:checked + .header-label .header-label__icon:nth-child(2) {
    transform: scale(0);
  }
  .header-input:checked + .header-label .header-label__icon:nth-child(3) {
    transform-origin: top center;
    transform: translateY(-0.4rem) rotate(-45deg);
  }
  /* ***********************************************************************/

  /* footeer */
  .footer .social a {
    width: 1rem;
  }
  /* ***********************************************************************/
}

@media screen and (max-width: 650px) {
  .animation-container {
    flex-direction: column;
    align-items: center;
  }
  .animation-abstract {
    width: 90%;
  }
}
